<h1>Editar Niveles de Contaminación</h1>

<%= render 'form', contamination_level: @contamination_level %>

<%= link_to 'Ver', @contamination_level %> |
<%= link_to 'Regresar', contamination_levels_path %>
